# App
NODE_ENV=development
APP_URL=http://localhost:3000

# Database
DATABASE_URL=postgresql://app:password@localhost:5432/presentation_app

# Upload
UPLOAD_DIR=E:/data/uploads
MAX_UPLOAD_SIZE_MB=20

# Code
CODE_LENGTH=6

# Security
MANAGEMENT_TOKEN_SECRET=c67c1b26669819fabc031a362ee52d8c3782b17cad07151b6e63e4965321c499

# Retention
DEFAULT_RETENTION=7d
